html
{
    background-color: black;
}

select, input
{
    margin-bottom: 0;
}

.icon-copy
{
    background-image: url('/images/icon-copy.png');
    background-position: 0 0;
    height: 16px;
    margin-top: 0;
}

/* 3 Column Layouts */
.container3Col
{
    width: 100%;
}

.container3Col .leftCol
{
    float:left;
}

.container3Col .rightCol
{
    /*float:right;*/
    position: absolute;
    right: 0;
    padding-right: 5px;
}

.container3Col .centerCol
{
    padding-left: 10px;
    padding-right: 24px;
}

/* Input row */
.leftCol .icon-resize-vertical
{
    margin-left: 5px;
}
/*
button.midiNoteType
{
    width: 65px;
}
*/
.midiNote
{
    width: 30px;
}

.container3Col.midiInputHeader .centerCol
{
    margin-left: 60px;
    margin-right: 285px;
}

.container3Col.midiInputHeader
{
    position: relative;
}

.container3Col.midiInputHeader .rightCol
{
    margin-bottom: 5px;
}

/* Output Row */
.container3Col.oscPathRow .centerCol
{
    margin-left: 105px;
    margin-right: 60px;
}

.oscPathRow .leftCol,
.oscPathRow .rightCol,
.oscPathRow .centerCol
{
    padding: 5px;
}

.container3Col .centerCol input
{
    margin-bottom: 0;
    width: 100%;
}

select.midiNoteType
{
    width: 75px;
}

select.oscHost
{
    width: 100px;
}

.oscParameterList
{
    padding: 5px;
}

/* parameters */
.inline-input-append
{
    display: inline-block;
}

.inline-input-append .btn-group,
.inline-input-append .btn
{
    margin-left: -7px;
}

.inline-input-append .btn-group .btn,
.inline-input-append .btn
{
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

.oscParam
{
    margin-right: 5px;
    margin-bottom: 5px;
}

.treeContent
{
    background-color: #aaa;
}

.treeHeader
{
    background-color: #333333;
    padding: 5px;
}

.treeFooter
{
    background-color: #333333;
    padding: 5px;
}

.midiInput
{
    background-color: #efefef;
    border-top: 1px solid #aaa;
}

.midiInputHeader
{
    background-color: #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.midiInputHeader input,
.midiInputContent input
{
    margin-bottom: 0;
}

.midiInputContent
{
    background-color: #efefef;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
}

.oscCollapsor
{
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #efefef;
}

.oscOutputItem
{
    border-bottom: 1px solid #ddd;
}

.oscParameters
{
    display: inline-block;
}

.midiInputFooter,
.newOSCOutput
{
    background-color: #ddd;
    text-align: center;
}

.midiInputFooter
{
    border-bottom: 5px solid #ccc;
}

.newOSCOutput
{
    padding: 5px;
    border-top: 1px solid #efefef;
}

.treeItemGroup
{
    background-color: red;
    padding: 25px;
}

/* Landscape phones and down */
@media (max-width: 480px)
{
    .container3Col.midiInputHeader .rightCol
    {
        bottom: 0;
    }

    .midiInputHeader
    {
        height: 65px;
    }

    .container3Col.midiInputHeader .centerCol
    {
        margin-right: 0px;
        padding-right: 18px;
    }
}