*:focus
{
    /* TODO Find a more subtle highlight indicator than the Chrome default blue. */
    outline: none !important;
}

html
{
    background-color: #555;
}

select, input
{
    margin-bottom: 0;
}

.icon-copy
{
    background-image: url('../img/icon-copy.png');
    background-position: 0 0;
    height: 16px;
    margin-top: -1px;
}

/* Title */
.title
{
    background-color: #555;
    z-index: -100;
    position: fixed;
    margin-top: 2px;
    margin-left: -30px;
}

.title h1
{
    margin-top: 0;
    font-size: 100px;
}

/* Header */
.header
{
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #444;
    width: 100%;
    padding: 5px;
    box-shadow: 0 0 5px 0;
}

/* OSC Host Config */
.configPanel
{
    padding: 10px;
    position: relative;
}

.oscPanel
{
    margin-top: 40px;
    z-index: 90;
    background-color: #92A7B4;
    background-image: url('../img/blue-stripe.png');
    box-shadow: 0 0 20px 6px #6F8491 inset;
}

.oscPanel h2
{
    color: #657F8F;
    font-size: 60px;
    line-height: 15px;
    padding-top: 0;
    margin-top: 0;
    margin-left: 10px;
}

.oscHostName, .oscHostAddress, .oscHostPort, .oscPanel, .configPanel, .configRow, .configItem, .configItem input
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.oscHostName
{
    width: 40%;
}

.oscHostAddress
{
    width: 30%;
}

.oscHostPort
{
    width: 30%;
}

.configItem
{
    display: inline-block;
    border-right: 5px solid transparent;
}

.configItem:last-child
{
    padding-right: 40px;
}

.configItem input
{
    width: 100%;
    margin: 0;
    height: 30px;
}

.oscHostCommands
{
    margin: 0 10px 10px 10px;
}

.removeConfigItem
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* Input items*/
.input-list
{
    box-shadow: 0 3px 5px 3px;
}

/* 3 Column Layouts */
.container3Col
{
    width: 100%;
}

.container3Col .leftCol
{
    float:left;
}

.container3Col .rightCol
{
    /*float:right;*/
    position: absolute;
    right: 0;
    padding-right: 5px;
}

.container3Col .centerCol
{
    padding-left: 10px;
    padding-right: 24px;
}

/* Input row */
.leftCol .icon-resize-vertical
{
    margin-left: 5px;
}
/*
button.midiNoteType
{
    width: 65px;
}
*/
.midiNote
{
    width: 30px;
}

.container3Col.midiInputHeader .centerCol
{
    margin-left: 60px;
    margin-right: 288px;
}

.container3Col.midiInputHeader
{
    position: relative;
}

.container3Col.midiInputHeader .rightCol
{
    margin-bottom: 5px;
}

/* Output Row */
.container3Col.oscPathRow .centerCol
{
    margin-left: 105px;
    margin-right: 60px;
}

.oscPathRow .leftCol,
.oscPathRow .rightCol,
.oscPathRow .centerCol
{
    padding: 5px;
}

.container3Col .centerCol input
{
    margin-bottom: 0;
    width: 100%;
}

select.midiNoteType
{
    width: 76px;
}

select.oscHost
{
    width: 100px;
}

.oscParameterList
{
    padding: 5px;
}

/* parameters */
.inline-input-append
{
    display: inline-block;
}

.inline-input-append .btn-group,
.inline-input-append .btn
{
    margin-left: -7px;
}

.inline-input-append .btn-group .btn,
.inline-input-append .btn
{
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

.oscParam
{
    margin-right: 5px;
}

.addOSCParam
{
    /*margin-bottom: 5px;*/
}

.treeContent
{
    background-color: #aaa;
}

.treeHeader
{
    background-color: #333333;
    padding: 5px;
}

.treeFooter
{
    background-color: #333333;
    padding: 5px;
}

.midiInput
{
    background-color: #ccc;
    border-top: 1px solid #aaa;
}

.input-row:nth-child(odd) .midiInput
{
    background-color: #BBC8D1;
}

.input-row:nth-child(odd) .midiInputContent
{
    border-left: 5px solid #BBC8D1;
    border-right: 5px solid #BBC8D1;
}

.input-row:nth-child(odd) .midiInputFooter
{
    border-bottom: 5px solid #BBC8D1;
}

.midiInputHeader
{
    /*background-color: #ccc;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.midiInputHeader input,
.midiInputContent input
{
    margin-bottom: 0;
}

.midiInputContent
{
    background-color: #efefef;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
}

.oscCollapsor
{
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #efefef;
}

.oscOutputItem
{
    border-bottom: 1px solid #ddd;
}

.midiInputFooter,
.newOSCOutput
{
    background-color: #ddd;
    text-align: center;
}

.midiInputFooter
{
    border-bottom: 5px solid #ccc;
}

.newOSCOutput
{
    padding: 5px;
    border-top: 1px solid #efefef;
}

.treeItemGroup
{
    background-color: red;
    padding: 25px;
}

/* Landscape phones and down */
@media (max-width: 480px)
{
    .container3Col.midiInputHeader .rightCol
    {
        bottom: 0;
    }

    .midiInputHeader
    {
        height: 65px;
    }

    .container3Col.midiInputHeader .centerCol
    {
        margin-right: 0px;
        padding-right: 18px;
    }
}
