html
{
    background-color: black;
}

.container3Col
{
    width: 100%;
}

.container3Col .leftCol
{
    float:left;
}

.container3Col .rightCol
{
    float:right;
    padding-right: 5px;
}

.container3Col .rightCol input
{
    margin-bottom: 0;
}

.container3Col .centerCol
{
    padding-left: 10px;
    padding-right: 24px;
}

.leftCol .icon-resize-vertical
{
    margin-left: 5px;
}

.inline-input-append
{
    display: inline-block;
}

.inline-input-append .btn-group,
.inline-input-append .btn
{
    margin-left: -7px;
}

.inline-input-append .btn-group .btn,
.inline-input-append .btn
{
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

button.midiNoteType
{
    width: 65px;
}

.container3Col.midiInputHeader .centerCol
{
    margin-left: 60px;
    margin-right: 300px;
}

.container3Col.oscPathRow .centerCol
{
    margin-left: 111px;
    margin-right: 70px;
}

.oscPathRow .leftCol,
.oscPathRow .rightCol,
.oscPathRow .centerCol
{
    padding: 5px;
}

.oscPathRow .leftCol
{
}

.oscPathRow .rightCol
{
}

.container3Col .centerCol input
{
    margin-bottom: 0;
    width: 100%;
}

.oscPathRow
{
}
/*
button.oscHost
{
    width: 100px;
}
*/
select.oscHost
{
    width: 100px;
}

.oscParameterList
{
    padding: 5px;
}

.tree
{
}

.treeContent
{
    background-color: #aaa;
}

.treeHeader
{
    background-color: #333333;
    padding: 5px;
}

.treeFooter
{
    background-color: #333333;
    padding: 5px;
}

.midiInput
{
    background-color: #efefef;
    border-top: 1px solid #aaa;
}

.midiInputHeader
{
    background-color: #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.midiInputHeader input,
.midiInputContent input
{
    margin-bottom: 0;
}

.midiInputContent
{
    background-color: #efefef;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
}

.oscCollapsor
{
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #efefef;
}

.oscOutputItem
{
    border-bottom: 1px solid #ddd;
}

.oscParameters
{
    display: inline-block;
}

.midiInputFooter,
.newOSCOutput
{
    background-color: #ddd;
    text-align: center;
}

.midiInputFooter
{
    border-bottom: 5px solid #ccc;
}

.newOSCOutput
{
    padding: 5px;
    border-top: 1px solid #efefef;
}

.btn.collapsed icon
{

}

.treeItemGroup
{
    background-color: red;
    padding: 25px;
}