<div class="header">
    <button name="addInput" class="btn" ng-click="inputConfig.addInput()"><icon class="icon-plus"></icon> Midi Input</button>
    <button name="showOSCPanel" class="btn" ng-click="toggleOSCPanel()"><icon class="icon-cog"></icon> Configure OSC</button>
    <button name="showMidiPanel" class="btn" ng-click="toggleMIDIPanel()"><icon class="icon-cog"></icon> Configure MIDI</button>
    <div class="midiActivity" tooltip-placement="left" tooltip="Midi Activity">
      <input type="checkbox" name="midi-activity" ng-model="midiActivity">
      <label for="midi-activity"></label>
    </div>
</div>
<div class="configPanel oscPanel" collapse="hideOSCPanel">
    <div data-osc-host-form></div>
</div>
<div class="configPanel midiPanel" collapse="hideMIDIPanel">
    <div data-midi-form></div>
</div>
<div data-input-list></div>
<div class="title">
    <h1>OSC Modulator</h1>
</div>
