<div>
    <div class="configForm">
        <h2>MIDI Ports</h2>
        <div ng-repeat="(key, port) in midiPortConfig.ports">
            <div class="configRow">
                <!-- Funny formatting to make sure no space characters appear between inputs. -->
                <div class="configItem midiPort"><input id="midiPort{{key}}"
                    name="midiPortEnabled" type="checkbox" ng-model="port.enabled"
                    ng-change="midiPortConfig.toggleMidiInput(key)"><label
                    name="midiPortName" for="midiPort{{key}}">{{port.name}}</label></div>
            </div>
        </div>
    </div>
</div>