<div class="midiInput" name="midiInputItem">
    <!-- Header -->
    <div class="container3Col midiInputHeader">
        <div class="leftCol">
            <i class="icon-resize-vertical"></i>
            <button class="btn collapseButton" type="button" ng-click="toggleCollapsed()">
                <div ng-switch="config.collapsed">
                    <i ng-switch-when="false" class="icon-chevron-down"></i>
                    <i ng-switch-when="true" class="icon-chevron-right"></i>
                </div>
            </button>
        </div>
        <div class="rightCol midiInputConfig">
            <div class="inline-input-append midiNoteConfig">
                <input class="input-mini midiNote" type="text" name="midiInNote" placeholder="Midi" ng-model="config.midi.note">
                <select class="midiNoteType" required="true" ng-model="config.midi.type" ng-options="type for type in midiTypes">
                </select>
            </div>
            <div class="btn-group">
                <button class="btn solo" type="button" name="solo" title="Solo" ng-model="config.solo"
                        btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">S</button>
                <button class="btn mute" type="button" name="mute" title="Mute" ng-model="config.mute"
                        btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">M</button>
            </div>
            <button class="btn duplicate" type="button" title="Duplicate"><i class="icon-copy"></i></button>
            <button class="btn removeMidiInput" type="button" title="Remove Midi Input"><i class="icon-remove"></i></button>
        </div>
        <div class="centerCol">
            <input class="treeItemName" type="text" name="name" placeholder="Name" ng-model="config.name"/>
        </div>
    </div>
    <!-- Tree Item OSC Command -->
    <div class="midiInputContent">
        <div class="oscCollapsor" collapse="config.collapsed">
            <div class="oscList" ng-repeat="output in config.osc">
                <div data-osc-output data-osc-hosts="hosts" data-osc-output-config="output"
                     data-remove-osc-output="removeOSCOutput(e)"></div>
            </div>
            <div class="newOSCOutput">
                <button class="btn" type="button" ng-click="addOSCOutput()"><i class="icon-plus"></i> OSC Output</button>
            </div>
        </div>
    </div>
    <!-- Tree Item Footer -->
    <div class="midiInputFooter">
    </div>
</div>