
<ol class="sortable">
    <li ng-repeat="input in midiInputs">
        <div x-midi-input id="{{input.id}}" midi-input-config="input"></div>
    </li>
<!--
    <li class="leaf">
        <div><span class="disclose"><span></span></span>Item 2</div>
    </li>
    <li class="branch collapsed">
        <div><i class="icon-chevron-down disclose"></i>Item 3</div>
        <ol>
            <li class="no-nesting leaf">
                <div>Sub Item 3.1 (no nesting)</div>
            </li>
            <li class="branch collapsed">
                <div><i class="icon-chevron-down disclose"></i>Sub Item 3.2</div>
                <ol>
                    <li class="leaf">
                        <div>Sub Item 3.2.1</div>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li class="leaf">
        <div>Item 4</div>
    </li>
    <li class="leaf">
        <div>Item 5</div>
    </li>
    -->
</ol>