<div>
    <div class="configForm">
        <h2>OSC Hosts</h2>
        <div ng-repeat="(key, host) in oscHostConfig.hosts">
            <div class="configRow">
                <!-- Funny spacing to make sure no space characters appear between inputs. -->
                <div class="configItem oscHostName"><input
                    name="oscHostName" type="text" placeholder="Name"
                    ng-change="oscHostConfig.updateOSCHost(key)" ng-model="host.name"></div
                    ><div class="configItem oscHostAddress"><input
                    name="oscHostAddress" type="text" placeholder="Address"
                    ng-change="oscHostConfig.updateOSCHost(key)" ng-model="host.address"></div
                    ><div class="configItem oscHostPort"><input
                    name="oscHostPort" type="text" placeholder="Port"
                    ng-change="oscHostConfig.updateOSCHost(key)" ng-model="host.port"></div>
            </div>
            <div class="removeConfigItem">
                <button name="removeConfigItem{{ key }}" class="btn" ng-click="oscHostConfig.removeOSCHost(key)">
                    <icon class="icon-remove"></icon>
                </button>
            </div>
        </div>
    </div>
    <div class="oscHostCommands">
        <button name="addOSCHost" class="btn" ng-click="oscHostConfig.addOSCHost()"><icon class="icon-plus"></icon> OSC Host</button>
    </div>
</div>